<!DOCTYPE html>
<html lang="en">
<%- include('layout/style.ejs') %>

<body>
  <div class="root">
    <%- include('layout/header.ejs') %>
    <div class="main">
      <div class="container-sm" style="max-width: 890px;">
        <a href="/blogs/<%= data[0].slug %>" class="text-decoration-none text-black">
          <div class="row row-cols-1 row-cols-md-2 mb-2">
            <div class="col rounded-3">
              <img class="rounded-3" src="https://images.unsplash.com/photo-1528834342297-fdefb9a5a92b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" height="300px" width="100%">
            </div>
            <div class="col">
              <h5 class="card-title"><%= data[0].name %></h5>
              <div>
                <span class="font-12">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt laudantium dicta modi veniam in delectus quidem quo quia cupiditate accusamus autem.
                </span>
              </div>
            </div>
          </div>
        </a>
        <div class="row row-cols-2 row-cols-md-3">
          <% data.forEach((element, index) => { %>
          <% if (index > 0) { %>
          <a href="/blogs/<%= element.slug %>" class="text-decoration-none text-black">
            <div class="col mb-2">
              <div class="card rounded-3">
                <img src="https://images.unsplash.com/photo-1528834342297-fdefb9a5a92b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="<%= element.name %>" height="300px">
                <div class="card-body">
                  <h5 class="card-title"><%= element.name %></h5>
                  <div>
                    <span class="font-12">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt laudantium dicta modi veniam in delectus quidem quo quia cupiditate accusamus autem.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <% } %>
          <% }) %>
        </div>
      </div>
    </div>
    <%- include('layout/footer.ejs') %>
    <%- include('layout/javascript.ejs') %>
</body>

</html>