<!DOCTYPE html>
<html lang="en">
<%- include('../layout/style.ejs') %>

<body>
  <div class="root">
    <%- include('../layout/header.ejs') %>
    <div class="main">
      <div class="container-sm" style="max-width: 890px;">
				<div class="row">
					<h1><%= data.name %></h1>
					<div class="my-2">
						<%- data.content %>
					</div>
				</div>
      </div>
    </div>
    <%- include('../layout/footer.ejs') %>
    <%- include('../layout/javascript.ejs') %>
</body>

</html>